<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Owner Account</title>
</head>
<body>
    <div class="flex justify-center items-center h-screen">
<form action="/auth/ownerlogin" method="POST" class="bg-white p-6 rounded shadow w-80">

<h2 class="text-xl font-bold mb-4">Login</h2>

<input type="email" name="email" placeholder="Email" class="border p-2 w-full mb-3">

<input type="password" name="password" placeholder="Password" class="border p-2 w-full mb-3">

<button class="bg-blue-500 text-white p-2 w-full">Login</button>

</form>
</div>
</body>
</html>